spring:
  application:
    name: spring03

  #  mail:
  #    host: smtp.gmail.com
  #    port: 587
  #    username: jay06holi@gmail.com
  #    password: goaozzpxvqzhrjmw
  #    properties:
  #      mail:
  #        smtp:
  #          starttls:
  #            enable: true
  #            required: true
  #          auth: true
  #          timeout: 5000


  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: "jdbc:mariadb://192.100.210.102:3306/test"
    username: root
    password: qwer1234

  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
